
$accentColor = #2d8cf0//默认主题颜色
$sidebarWidth = 250px //侧边栏宽度
$font-family-mono = "'Source Code Pro', monospace"
// $code-bg-color = #2d8cf0  //代码块背景颜色
// $borderColor = #eaecef//默认边框颜色
// $codeBgColor = #282c34//默认背景颜色

